.realme_login, .realme_create_account, .realme_link {
  padding-right: 1.2em;
}

.whats_realme {
  float: left;
}

.realme_btn_margin {
  margin-left: 45px;
}

.realme_link {
  text-decoration: none;
}
