// See the brand guidelines at https://developers.realme.govt.nz/how-to-integrate/application-design-and-branding-guide/realme-new-page-elements/
$brand-color-main: #FF2C00;
$brand-color-main-accessible: #D64309;
$brand-color-main-contrast: white;
$brand-color-text: black;

$btn-border-radius: 1rem;
